.mat-input-container {
  width: 35%;
}

.temperatureList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  word-wrap: normal;
  overflow: hidden;
}

@media (max-width: 767px) {
  .mat-input-container {
    width: 70%;
  }
}

@media (max-width:414px) {
  button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .mat-input-container {
    width: 100%;
  }
  .mob-block {
    display: block;
    margin: 10px 0;
  }
}
