<!-- header component-->
<md-toolbar color="primary">
  <span>Temperature Monitor</span>
</md-toolbar>
<!-- input temperature component -->
<md-card>
  <md-card-content>
    <form #formRef="ngForm" (ngSubmit)="add(formRef.value)">
      <md-input-container>
        <input mdInput type="number" required ngModel #temperatureRef autocomplete="off" name="temperature" placeholder="Add temperature (numbers only)">
      </md-input-container>
      <button md-raised-button color="primary" type="submit">Add</button>
    </form>
  </md-card-content>
</md-card>
<!-- current temperature list component -->
<md-card>
  <md-card-title>Current Temperature List</md-card-title>
  <md-card-content class="temperatureList">[{{temperatureList}}]</md-card-content>
</md-card>
<!-- calculate median temperature component -->
<md-card>
  <md-card-content>
    <form (ngSubmit)="median()">
      <button md-raised-button color="primary" type="submit">Get Median Temperature</button>
      <span class="mob-block">Current Median: {{medianTemperature}}</span>
    </form>
  </md-card-content>
</md-card>
<!-- developer info component -->
<md-card>
  <md-card-content>
    <div>Developer Name: Jack Zhang</div>
  </md-card-content>
</md-card>
<!-- version info component -->
<md-card>
  <md-card-title>Version Info</md-card-title>
  <md-card-content>
    <md-list dense>
      <md-list-item>node 7.1.0</md-list-item>
      <md-list-item>npm 3.10.9</md-list-item>
      <md-list-item>angular ^2.4.0</md-list-item>
      <md-list-item>angular cli 1.0.0-rc.0</md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<!-- start and test instruction component -->
<md-card>
  <md-card-title>Start up instructions</md-card-title>
  <md-card-content>
    <md-list dense>
      <md-list-item>To start, please use "npm install" and "npm start".</md-list-item>
      <md-list-item>To test, please use "npm test".</md-list-item>
    </md-list>
  </md-card-content>
</md-card>
